In [36]:
# Part 1

In [3]:
import pandas as pd 
import numpy as np
import requests
from bs4 import BeautifulSoup

In [2]:
final = pd.DataFrame()

In [3]:
final

Empty DataFrame
Columns: []
Index: []

In [6]:
for i in range (1, 25):
    headers={'User-Agent':'Mozilla/5.0 (Windows NT 6.3; Win 64 ; x64) Apple WeKit /537.36(KHTML , like Gecko) Chrome/80.0.3987.162 Safari/537.36'}
    webview = requests.get('https://www.amazon.in/s?k=bags&page={}&crid=2M096C61O4MLT&qid=1675407569&sprefix=ba%2Caps%2C283&ref=sr_pg{}'.format(i,i), headers = headers).text
    soup=BeautifulSoup(webview,'html.parser')
    information = soup.find_all('div', class_= 'sg-col-inner')
#     links = []  for testing purpose
    Product_url =[]
    Product_name=[]
    Product_price=[] 
    Rating = []
    Number_of_reviews = []
    for j in information:
        try:
             for link in soup.find_all('a',class_='a-link-normal s-underline-text s-underline-link-text s-link-style a-text-normal'):
                Product_url.append(link.get('href'))
        except:
            for link in soup.find_all('a',class_='a-link-normal s-underline-text s-underline-link-text s-link-style a-text-normal'):
                Product_url.append(np.nan)
        try:
            for name in soup.find_all('span', class_='a-size-medium a-color-base a-text-normal'):
                Product_name.append(name.text.strip())
        except:
            for name in soup.find_all('span', class_='a-size-medium a-color-base a-text-normal'):
                Product_name.append(np.nan)
        try:
            for price in soup.find_all('span', class_='a-price-whole'):
                Product_price.append(price.text.strip())
        except:
            for price in soup.find_all('span', class_='a-price-whole'):
                Product_price.append(np.nan)
        try:
             for rating in soup.find_all('span',class_='a-icon-alt'):
                Rating.append(rating.text.strip())
        except:
            for rating in soup.find_all('span',class_='a-icon-alt'):
                Rating.append(np.nan)
        try:
            for review in soup.find_all('span', class_='a-size-base s-underline-text'):
                Number_of_reviews.append(review.text)
        except:
            for review in soup.find_all('span', class_='a-size-base s-underline-text'):
                Number_of_reviews.append(np.nan)
            
    dataFrame = pd.DataFrame({
    'Url':Product_url,
    'Name':Product_name,
    'Price':Product_price,
    'Ratings':Rating,
    'Reviews':Number_of_reviews
})

ValueError: All arrays must be of the same length

In [7]:
name = pd.DataFrame(Product_name)

In [8]:
name

                                                      0
0     Tabelito® Volt Casual Waterproof Laptop Backpa...
1     URBAN TRIBE Havana 15.6" inch Laptop Backpack ...
2     American Tourister 32 Ltrs Black Casual Backpa...
3     Wesley Milestone 2.0 Casual Waterproof Laptop ...
4     ADISA 15.6 inch Laptop Backpack Office Bag Col...
...                                                 ...
3547  Half Moon Large 37L Laptop Bag Backpack for me...
3548  Lavie Sport Lino Large Size 63 cms Wheel Duffl...
3549  EUME Virgo Polyester 29Ltr Laptop Backpack for...
3550  HEROZ Hammer Unisex Nylon 45 L Travel Laptop B...
3551  Scarters | Ultimate Premium Laptop Backpack fo...

[3552 rows x 1 columns]

In [9]:
url = pd.DataFrame(Product_url)

In [10]:
url

                                                      0
0     /sspa/click?ie=UTF8&spc=MTozMTgzNjYyNzYwMTE4MT...
1     /sspa/click?ie=UTF8&spc=MTozMTgzNjYyNzYwMTE4MT...
2     /American-Tourister-AMT-SCH-02/dp/B07CJCGM1M/r...
3     /Wesley-Milestone-Waterproof-Backpack-Business...
4     /ADISA-Laptop-Backpack-Office-College/dp/B09TP...
...                                                 ...
5027  /Rucksack-Travel-Backpack-Trekking-Compartment...
5028  /Half-Moon-Backpack-Compartment-Reflective/dp/...
5029  /Lavie-Sport-Duffle-Luggage-Trolley/dp/B097RJ2...
5030  /sspa/click?ie=UTF8&spc=MTozMTgzNjYyNzYwMTE4MT...
5031  /sspa/click?ie=UTF8&spc=MTozMTgzNjYyNzYwMTE4MT...

[5032 rows x 1 columns]

In [11]:
price = pd.DataFrame(Product_price)

In [12]:
price

           0
0     5,590.
1     5,590.
2     5,590.
3        599
4        998
...      ...
6211     849
6212     999
6213   1,448
6214   1,424
6215  12,399

[6216 rows x 1 columns]

In [16]:
rating = pd.DataFrame(Rating)

In [17]:
rating

                       0
0     4.9 out of 5 stars
1     3.9 out of 5 stars
2     4.1 out of 5 stars
3     4.3 out of 5 stars
4     3.9 out of 5 stars
...                  ...
5915  4.6 out of 5 stars
5916        4 Stars & Up
5917        3 Stars & Up
5918        2 Stars & Up
5919         1 Star & Up

[5920 rows x 1 columns]

In [18]:
review = pd.DataFrame(Number_of_reviews)
review

           0
0         38
1        684
2     51,370
3      9,226
4        462
...      ...
5323   2,127
5324   5,790
5325     495
5326   7,643
5327     145

[5328 rows x 1 columns]

In [19]:
# here we can se the row size of the data columns are different in each column,
# may be this because Amazon website may have more products in one page and less in the other page 
# or may they have the same class name of other products which are come in the suggestions

In [27]:
result = pd.concat([url, name, price, rating, review], axis=1, join='outer')

In [32]:
result.isnull().sum()

0    1184
0    2664
0       0
0     296
0     888
dtype: int64

In [33]:
result.columns = ['Product_url', 'Product_name', 'Product_price', 'Ratings', 'Number of reviews']

In [35]:
result.sample(10)

,Product_url,Product_name,Product_price,Ratings,Number of reviews
848,/sspa/click?ie=UTF8&spc=MTozMTgzNjYyNzYwMTE4MT...,Wesley Unisex Milestone Casual Waterproof Lapt...,225,4.3 out of 5 stars,"1,044"
1442,/Fiesto-Fashion-Womens-Handbag-FIESTO33_Blue/d...,American Tourister 32 Ltrs Black Casual Backpa...,599,4.1 out of 5 stars,"51,370"
161,/Wesley-Milestone-Waterproof-Backpack-Business...,Lunar's Bingo - 48 L Laptop Office/School/Trav...,899,3.9 out of 5 stars,"3,600"
2081,/Wesley-Milestone-Waterproof-Backpack-Business...,Lunar's Bingo - 48 L Laptop Office/School/Trav...,399,3.9 out of 5 stars,"8,758"
2043,/Wesley-Milestone-Waterproof-Backpack-Business...,Wesley Milestone 2.0 Casual Waterproof Laptop ...,539,4.3 out of 5 stars,"2,184"
1333,/Wesley-Milestone-Waterproof-Backpack-Business...,Sfane polyester 23 cms Duffle Bag(BG - 05 HALF...,288,4.3 out of 5 stars,684
1391,/Lavie-Sport-Duffle-Luggage-Trolley/dp/B097RJ2...,Scarters | Ultimate Premium Laptop Backpack fo...,"1,299",3.9 out of 5 stars,61
3628,/Blue-Tree-Synthetic-Cartton-Minnie/dp/B07CXXY...,NaN,377,4.3 out of 5 stars,"4,878"
1739,/Skybags-Brat-Black-Casual-Backpack/dp/B08Z1HH...,NORTH ZONE 30 ltrs ( Cms) backpack(INVALID DAT...,312.,4.0 out of 5 stars,33
4198,/Lapis-Lupo-Flower-Embroidery-Handbag/dp/B07RX...,NaN,"1,424",2 Stars & Up,93

In [ ]:
result.to_csv("FinalPart1.csv")
# there are some NaN values ....

In [5]:
df = pd.read_csv('FinalPart1.csv')

In [6]:
df.head(10)

,Unnamed: 0,Product_url,Product_name,Product_price,Ratings,Number of reviews
0,0,/sspa/click?ie=UTF8&spc=MTozMTgzNjYyNzYwMTE4MT...,Tabelito® Volt Casual Waterproof Laptop Backpa...,"5,590.",4.9 out of 5 stars,38
1,1,/sspa/click?ie=UTF8&spc=MTozMTgzNjYyNzYwMTE4MT...,"URBAN TRIBE Havana 15.6"" inch Laptop Backpack ...","5,590.",3.9 out of 5 stars,684
2,2,/American-Tourister-AMT-SCH-02/dp/B07CJCGM1M/r...,American Tourister 32 Ltrs Black Casual Backpa...,"5,590.",4.1 out of 5 stars,"51,370"
3,3,/Wesley-Milestone-Waterproof-Backpack-Business...,Wesley Milestone 2.0 Casual Waterproof Laptop ...,599,4.3 out of 5 stars,"9,226"
4,4,/ADISA-Laptop-Backpack-Office-College/dp/B09TP...,ADISA 15.6 inch Laptop Backpack Office Bag Col...,998,3.9 out of 5 stars,462
5,5,/Skybags-Brat-Black-Casual-Backpack/dp/B08Z1HH...,Sirona Sanitary Disposable Bags - 75 Bags for ...,"1,299",4.5 out of 5 stars,"2,659"
6,6,/FUR-JADEN-Leatherette-Polypropylene-DUFF05/dp...,Skybags Brat Black 46 Cms Casual Backpack,565,4.1 out of 5 stars,"3,368"
7,7,/Wesley-Milestone-Waterproof-Backpack-Business...,Fur Jaden Brown Textured Leatherette Stylish &...,499,4.3 out of 5 stars,"5,318"
8,8,/Kleider-Travel-Business-Messenger-Shoulder/dp...,Wesley Unisex Milestone Casual Waterproof Lapt...,225,4.3 out of 5 stars,"12,103"
9,9,/Half-Moon-Waterproof-Backpack-Students/dp/B08...,DEIN KLEIDER Men's Nylon Messenger Bag,669,4.0 out of 5 stars,"4,396"

In [7]:
df.shape

(6216, 6)

In [8]:
df.size

37296

In [9]:
# Part 2

In [10]:
import cv2

In [11]:
product_info = []

In [17]:
for i in range(1,50):
    df["Product_url"] = "https://www.amazon.in" + df["Product_url"]
    url = df['Product_url'][i]
    headers={'User-Agent':'Mozilla/5.0 (Windows NT 6.3; Win 64 ; x64) Apple WeKit /537.36(KHTML , like Gecko) Chrome/80.0.3987.162 Safari/537.36'}
    response = requests.get(url, headers = headers)
    if response.status_code == 200:
        soup = BeautifulSoup(response.text, 'html.parser')
        description = soup.find('div', {'id': 'productDescription'}).text
        asin = soup.find('div', {'id': 'ASIN'}).text
        product_description = soup.find('div', {'id': 'productDescription'}).text
        manufacturer = soup.find('div', {'id': 'bylineInfo'}).text
        product = {
            'Description': description,
            'ASIN': asin,
            'Product Description': product_description,
            'Manufacturer': manufacturer
        }
        product_info.append(product)
with open('product_info.csv', 'w', newline='') as file:
    writer = csv.DictWriter(file, fieldnames=product.keys())
    writer.writeheader()
    writer.writerows(product_info)

ConnectionError: HTTPSConnectionPool(host='www.amazon.inhttps', port=443): Max retries exceeded with url: //www.amazon.in/sspa/click?ie=UTF8&spc=MTozMTgzNjYyNzYwMTE4MTk4OjE2NzU0MTczODA6c3BfYXRmOjIwMTA0MTQwMjYzNjk4OjowOjo&url=%2FUrban-Tribe-Laptop-Backpack-Havana%2Fdp%2FB01LXNNFDF%2Fref%3Dsr_1_2_sspa%3Fcrid%3D2M096C61O4MLT%26keywords%3Dbags%26qid%3D1675417380%26sprefix%3Dba%252Caps%252C283%26sr%3D8-2-spons%26sp_csd%3Dd2lkZ2V0TmFtZT1zcF9hdGY%26psc%3D1 (Caused by NewConnectionError('<urllib3.connection.HTTPSConnection object at 0x000001B1F295C190>: Failed to establish a new connection: [Errno 11001] getaddrinfo failed'))

In [18]:
# getting errors while hitting the url ...